img {padding-bottom:50px;
    padding-top:20px}
p {font-size:larger}

table, th, tr, td {
    border: 5px solid black;
    text-align:center;} 

h1{
    text-align:left;
    padding-top:20px;
    padding-bottom:20px
}

